.image {
    width: 350px;
    height: 300px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;

}

.link {
    width: 300px;
    height: 50px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: auto;
    margin: 10px;
    padding: 1px;

}