 .header {
    font-family: 'var(--primaryFont)', sans-serif;
}

h1 {
    color: black;
    font-size: x-large;  
}

.space {
    background-color: #285293;
    display: inline-flex;
    height: 75%;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: .75;
  
   }
